RewriteEngine On

RewriteRule ^abbreviations php/controllers/abbreviation-controller.php
RewriteRule ^meanings php/controllers/meaning-controller.php
RewriteRule ^users php/controllers/user-controller.php
RewriteRule ^abbr-lists php/controllers/abbreviation-list-controller.php