Options +MultiViews
RewriteEngine On
DirectoryIndex html/index.html

RewriteRule ^abbreviations php/controllers/abbreviation-controller.php [L]
RewriteRule ^meanings php/controllers/meaning-controller.php [L]
RewriteRule ^users php/controllers/user-controller.php [L]
RewriteRule ^abbr-lists php/controllers/abbreviation-list-controller.php [L]
RewriteRule ^dashboard php/controllers/dashboard-controller.php [L]
RewriteRule ^statistics php/controllers/statistics-controller.php [L]
RewriteRule ^rss php/controllers/rss-controller.php [L]
RewriteRule ^profile php/controllers/profile-controller.php [L]
